<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980294862679-18400kin3ekj3ocht6cljmrqrb77sq9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980294862679-18400kin3ekj3ocht6cljmrqrb77sq9m</string>
	<key>API_KEY</key>
	<string>AIzaSyCpVamIk0Zq7MSUugYDDEa_dYW9LlGe8Bc</string>
	<key>GCM_SENDER_ID</key>
	<string>980294862679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coins</string>
	<key>PROJECT_ID</key>
	<string>coins-f5195</string>
	<key>STORAGE_BUCKET</key>
	<string>coins-f5195.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980294862679:ios:cdcef305b2ea48909f6012</string>
</dict>
</plist>